* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.nav-bar {
    box-shadow: 0px 5px 5px rgb(134, 134, 134);
    padding: 1em;
    display: flex;

    align-items: center;
    justify-content: space-between;
    z-index: 1;
    background-color: white;
    position: relative;
}

.nav-bar a {
    text-decoration: none;
    color: black;
}

.nav-bar a:hover {
    color: #CCA43B;
}

.left-placeholder {
    width: 80px; /* Same width as the icons area */
}

/* Center the nav items */
.nav-bar ul {
    list-style: none;
    display: flex;
    gap: 1.5em; /* Space between items */
}

.nav-bar ul li {
    font-size: 20px;
    cursor: pointer;
}

/* Icons aligned to the right */
.nav-icons {
    display: flex;
    align-items: center;
    gap: 1.5em;
}

.nav-icons img {
    width: 32px;
    height: 32px;
    cursor: pointer;
}

/* dropdown sekcija  */

.dropdown{
    position: relative;
    display: inline-block;
    
}

.dropdown-content {
    display: none;
    z-index: 1;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border: 1px solid #CCA43B;
    right: 0;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  
/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}
