html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex: 1;
    margin: 5em; /* Reduce margin for better responsiveness */
    
}


.container-left{
    flex: 1;
    flex-direction: column;
    text-align: center;
}

.product-image {
    padding-bottom: 2em;
}

.product-image img {
    max-width: 20em;
    height: 15em;
}

.container-right{
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product-title {
    padding-bottom: 2em
}

.product-price {
    display: flex;
    align-items: center;
    justify-content: center;

}

.product-description {
    margin-top: 2em;
    padding: 1em;
    border: #e3e3defb 1px solid;
    text-align: center;
}

.add-to-cart {
    background-color: #CCA43B;
    border: none;
    border-radius: 5px;
    padding: 0.8em 3em;
}

.price-cart {
    display: flex;
    gap: 7em;
}




/*  */

.price-container {
    text-align: center;
    margin-bottom: 1em;
}

.quantity-selector {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    margin-top: 1em;
}

.quantity-selector button {
    background-color: #CCA43B;
    color: white;
    border: none;
    padding: 0.5em 1em;
    cursor: pointer;
    font-size: 1.2em;
    border-radius: 5px;
}

.quantity-selector input {
    width: 3em;
    text-align: center;
    font-size: 1.2em;
    border: 1px solid #ddd;
    padding: 0.3em;
    border-radius: 5px;
}

.total-price {
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 1em;
}